<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>React Universal Example</title>
  </head>
  <body>
    <div id="content"><%- content %></div>
  </body>
  <script src="client.bundle.js"></script>
</html>
